html{
    overflow-x: hidden;
}
body{
    background: #0058B5;
}
header{
    background: #F4F8FA;
}
header img{
    background: transparent;
    padding: 0px;
}
header ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}
header li a{
    display: block;
    padding: 20px;
    color: #000000;
}
.container{
    background-image: url(../Imagenes/Buus.png);
    background-size: 20%;
    background-repeat:no-repeat;
    background-position: right;
    padding: 0px;
    
}


.ALERTA{
    background: transparent;
    color: white;
    width: 380px;
    padding: 15px;
    margin-left: 500px;
    border-bottom: 15px;
}
.Actuali{
    width: 50%;
    margin: auto;
    text-align: center;
    background: #7AB8E5;
    padding: 15px 20px;
    border-radius: 15px;
    top: 25px;
}
.Actuali label{
    margin-top: 10px;
}
.AcDat{
    background: white;
    padding: 15px;
    border-radius: 5px;
}
.DatosConte{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 25px;
}
.DatosConte h1{
    background: white;
    padding: 5px;
}